*.diff
*.patch
*.orig
*.rej

*~
.#*
*#

*.flt
*.gmo
*.info
*.la
*.lo
*.o
*.pyc
*.tmp
*.a

.deps
.libs

autom4te.cache
config.cache
config.h
config.intl
config.log
config.status
libtool
POTFILES
*-POTFILES

TAGS
TAGS.sub

.local.vimrc
.lvimrc

.clang-format

.gdbinit
.gdb_history

# ignore core files, but not java/net/protocol/core/
core
!core/

lost+found

# ignore ./contrib/gcc_update output
LAST_UPDATED
REVISION

stamp-*
*.stamp

# ignore in-tree prerequisites
/mpfr*
/mpc*
/gmp*
/isl*

bfd/Makefile
bfd/doc/Makefile
bfd/doc/bfd.info-1
bfd/doc/bfd.info-2
bfd/po/Makefile
bfd/po/Makefile.in
build_aarch64/
build_x86_64/
gold/Makefile
gold/dwp
gold/incremental-dump
gold/ld-new
gold/po/Makefile
gold/po/Makefile.in
gold/testsuite/Makefile
gold/yyscript.c
gold/yyscript.h
libiberty/Makefile
libiberty/testsuite/Makefile

